body{
    margin:0;
    background:#0b0f19;
    color:white;
    font-family:'Segoe UI',sans-serif;
}

.hero{
    height:50vh;
    display:flex;
    align-items:end;
    padding:60px;
    background-size:cover !important;
    background-position:center !important;
    position:relative;
}

.hero::before{
    content:'';
    position:absolute;
    inset:0;
    background:linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
}

.hero h1{
    position:relative;
    z-index:2;
    font-size:4rem;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:50px 20px;
}

.card{
    background:#111827;
    border-radius:20px;
    padding:40px;
    margin-bottom:30px;
}

h2{
    color:#3b82f6;
    margin-bottom:20px;
}

ul{
    line-height:2;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#2563eb;
    color:white;
    padding:14px 20px;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}

.back{
    margin-bottom:30px;
    display:inline-block;
    color:white;
    text-decoration:none;
}
